    <!-- footer section for copyright    -->
    <div class="footer-bottom "> 
        <div class="container px-5 pb-2">
          <div class="row mt-3 ">
            <div class="col-md-6 align-text-to-center">
              <div class="copyright-text">
                <p>CopyRight © 2017 Digital All Rights Reserved</p>
              </div>
            </div>
            <!-- End Col -->
            <div class="col-md-6 align-text-to-center">
              <ul class="social-link">
                <li>
                  <a href=""
                    >FaceBook</span
                  ></a>
                </li>
                <li>
                  <a href=""
                    >Instagram</span
                  ></a>
                </li>
                <li>
                  <a href=""
                    >Linkedin</span
                  ></a>
                </li>
                <li>
                  <a href=""
                    >Gmail</span
                  ></a>
                </li>
                <li>
                  <a href=""
                    >twitter</span
                  ></a>
                </li>
                <li>
                  <a href=""
                    >reddit</span
                  ></a>
                </li>
              </ul>
            </div>
            <!-- End Col -->
          </div>
        </div>
      </div>
       <!-- footer section ends here    -->
      <!-- ====================================================================================   -->