<div class="col-md-4 p-4">
  <p class="sub-title-color-font">Other pictures</p>
  <p>
    Below are the images of some the players who has attend our event before.
  </p>
  <div class="pixgrid">
    <img src="/images/1_tn.jpg" />
    <img src="/images/2_tn.jpg" />
    <img src="/images/3_tn.jpg" />
    <img src="/images/4_tn.jpg" />
    <img src="/images/5_tn.jpg" />
    <img src="/images/6_tn.jpg" />
    <img src="/images/8_tn.jpg" />

  </div>
</div>
