.player-image {
  height: 10rem;
  width: 10rem;
  border-radius: 50% !important ;
}

.player-name {
  font-size: 1.1rem;
}

a {
  text-decoration: none;
}

.game-name {
  /* color: #126fd3; */
  font-size: 1.9rem;
}

.in-color {
  color: #dd4f53;
}

.line-height-160 {
  line-height: 130%;
}

.p {
  text-align: center;
}

.color-bg {
  background-color: #e9ecef;
}
