<%- include('./partials/topPlayers') %>

<!-- general information on sports meet -->
<section class="container pad-right-left">
  <div class="row">
    <div class="col-md-8 p-4">
      <p class="title-color-font">Who are we?</p>
      <p>
        The organisation of sports meets or tournaments is one of the major
        functions carried out by personnel involved in the management and
        administration of sports. The process of preparing any given sports meet
        entails a wide range of activities which sports managers and
        administrators must be well-versed with. Unless adequate time, care and
        effort is put into the whole process, it becomes possible to have some
        important areas vital to the success of a sports meet being omitted,
        ignored or overfooked. The purpose of this paper, therefore, is to
        present a checklist for those who are or who may be charged with the
        responsibilities of making preparations for sports competitions.
      </p>
      <p class="title-color-font">How to register ?</p>
      <p>
        If you want to keep up with what's going on with the group, join our
        meetup group, follow us on twitter. If you're in FaceBook, you can also
        join our FaceBook group.Fill the form sent to your mail address with
        correct details. After the registration is complete , soon you will
        recieve your event pass.
      </p>
    </div>

    <%- include("./partials/pixgrid") %>
  </div>
</section>

<!-- =========================================================================== -->
